@import "tailwindcss";

:root {
  --color-dark: #606C38;
  --color-pakistan: #283618;
  --color-cornsilk: #FEFAE0;
  --color-earth: #DDA15E;
  --color-tiger: #BC6C25;
}

body {
  background-color: var(--color-cornsilk);
  color: var(--color-dark);
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes dot {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animate-dot {
  animation: dot 1.4s infinite ease-in-out both;
}
